<!-- <div class="about-section" id="about"> -->

<div class="about-section" id="about">
  <h2>About Me</h2>
  <div class="picture">
    <img src="./assets/profilepic.png" alt="profile picture" />
  </div>
  <div class="about" data-aos="fade-in">
    <p>
      A third year Computer Science Engineering student at MallaReddy College of
      Engineering and Technology with a cumulative Gpa of 8.3 as of now.
      Enthusiastic student, passionate to learn about latest technologies.
    </p>
    <br />
    <p>
      Offering excellent organizational abilities along with strong grip in
      C\C++, Python,Java, HTML/css, JavaScript, MySQL, NodeJS and MongoDB.
      Always ready to try new ways to approach any problem. Seeking an
      opportunity to prove my skillsets in the are Computer Science.
    </p>
  </div>
</div>
