<!-- <div class="about-section" id="about"> -->

<div class="about-section" id="about">
  <h2>About Me</h2>
  <div class="picture">
    <img src="./assets/profilepic.png" alt="profile picture" />
  </div>
  <div class="about" data-aos="fade-in">
    <p>
      I am a B.Tech graduate specializing in Computer Science Engineering from MallaReddy College of Engineering and
      Technology. With a cumulative GPA of 8.01, I have demonstrated a strong academic foundation and a commitment to
      excellence throughout my studies.
    </p>
    <br />
    <p>
      As an enthusiastic and dedicated professional, I am passionate about learning and keeping up with the latest
      technologies in
      the field of computer science. I have a keen interest in exploring new ways to approach problems and a drive to
      stay
      updated on emerging trends and advancements.
    </p>
    <br />
    <p>
      My skillset includes a strong command of programming languages such as C/C++, Python, HTML/CSS, and JavaScript, as
      well
      as proficiency in database technologies such as MySQL, NodeJS, and MongoDB. I have developed excellent
      organizational
      abilities and possess the ability to effectively apply my technical knowledge to real-world projects. Seeking an
      opportunity to prove my skillset in the area of Computer Science.
    </p>
  </div>
</div>