<!-- <div class="about-section" id="about"> -->

<div class="about-section" id="about">
  <h2>About Me</h2>
  <div class="picture">
    <img src="./assets/profilepic.png" alt="profile picture" />
  </div>
  <div class="about" data-aos="fade-in">
    <p>
      I'm a B.Tech trailblazer, riding the waves of Computer Science at
      MallaReddy College of Engineering and Technology. With an 8.01 GPA
      symphony, my academic journey paints a canvas of excellence.
    </p>
    <br />
    <p>
      Fueled by passion, I'm a knowledge connoisseur, dancing on the edge
      of innovation. From pixels to algorithms, I craft solutions beyond
      the horizon. My arsenal flaunts C/C++, Python, HTML/CSS, and
      JavaScript, while databases like MySQL, NodeJS, and MongoDB bow to
      my command.
    </p>
    <br />
    <p>
      I'm not just code; I'm vision in action. Equipped with a futuristic
      mindset, I'm on a quest to sync brilliance with technology. Ready to
      script my legacy in the realm of Computer Science, I seek the
      platform where my skills paint the masterpiece of tomorrow.
    </p>
  </div>
</div>