<div class="contact-container" id="contact">
    <h2>Contact Me</h2>
    <div class="contact">
        <form id="contact-form" action="/send" method="POST">
            <div class="input">
                <span>Name</span>
                <input type="text" name="name" required id="form-name" value="" />
            </div>
            <div class="input">
                <span>Email</span>
                <input type="email" name="email" required id="email" value="" />
            </div>
            <div class="input">
                <span>Message</span>
                <textarea name="msg" required id="msg"  cols="30" rows="10"></textarea>
            </div>
            <div class="form-btn">
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
     
</div>