<!-- AOS data  -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      duration:800,
      offset:240
    });
  </script>

<script src="../script/script.js"></script>
</body>
</html>