<div class="hero" id="hero">
  <div class="hero-logo" data-aos="slide-left">
    <img src="../assets/hero.svg" alt="" />
  </div>
  <div class="details" data-aos="slide-right">
    <div class="info">
      <p>Hello I'm</p>
      <p data-text="Jelsinge Prajwal" id="name">Jelsinge Prajwal</p>
      <p>Computer Science Engineer</p>
    </div>
    <div class="resume-btn" id="hero-resume">

      <a href="./assets/jelsinge_prajwal.pdf" download>Download CV</a>
      <img src="./assets/download.svg" alt="" srcset="" />
    </div>
    <div class="contact-links">
      <div class="contact-link">
        <a href="https://github.com/Jelsingeprajwal" target="_blank"><i class="fab fa-github"></i>
        </a>
      </div>
      <div class="contact-link">
        <a href="https://www.instagram.com/sangameshjelsinge0111/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="contact-link">
        <a href="mailto:jelsinge.prajwal@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
      </div>
      <div class="contact-link">
        <a href="https://www.linkedin.com/in/jelsinge-prajwal" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="down">
    <a href="#about">
      <img src="../assets/chevrons-down.svg" alt="" />
    </a>
  </div>
</div>