<div id="projects">

  <h2 class="projects-title">Projects</h2>
  <div class="projects">
    <div class="item" data-aos="fade-in">
      <img src="./assets/fylo-preview.jpg" alt="" />
      <p>Fylo - Landing Page</p>
      <p>Website built using HTML5, CSS, Vanilla JS</p>
      <a href="https://github.com/Jelsingeprajwal/fylo" target="_blank" class="project-link">View on Github</a>
    </div>
    <div class="item" data-aos="fade-in">
      <img src="./assets/blogr-preview.jpeg" alt="" />
      <p>Blogr - BLogging Website</p>
      <p> Blogging website built using HTML5, CSS, JS</p>
      <a href="https://github.com/Jelsingeprajwal/blogr" target="_blank" class="project-link">View on Github</a>
    </div>
    <div class="item" data-aos="fade-in">
      <img src="./assets/react-blog.jpg" alt="" />
      <p>React Blogging website</p>
      <p> Blogging website built using React JS</p>
      <a href="https://react-blogr.netlify.app/" target="_blank" class="project-link">View</a>
    </div>

  </div>
  <!-- <a href="" id="more">more..</a> -->
  
</div>