<div id="projects">

  <h2 class="projects-title">Projects</h2>
  <div class="projects">
    <div class="item" data-aos="fade-in">
      <img src="./assets/one.jpg" alt="" />
      <p>Project Name</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nostrum laboriosam dignissimos dolor laborum, possimus .</p>
      <a href="" class="project-link">View on Github</a>
    </div>
    <div class="item" data-aos="fade-in">
      <img src="./assets/two.jpg" alt="" />
      <p>Project Name</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nostrum laboriosam dignissimos dolor laborum, possimus .</p>
      <a href="" class="project-link">View on Github</a>
    </div>
    <div class="item" data-aos="fade-in">
      <img src="./assets/one.jpg" alt="" />
      <p>Project Name</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nostrum laboriosam dignissimos dolor laborum, possimus .</p>
      <a href="" class="project-link">View on Github</a>
    </div>
    <div class="item" data-aos="fade-in">
      <img src="./assets/two.jpg" alt="" />
      <p>Project Name</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nostrum laboriosam dignissimos dolor laborum, possimus .</p>
      <a href="" class="project-link">View on Github</a>
    </div>
  </div>
  <a href="" id="more">more..</a>
  
</div>