<div id="skills">
  <h2 class="skill-title" id>Skills I have</h2>
  <div class="skills">
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/html5.svg" alt="" />
      <span>HTML5</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/python.svg" alt="" />
      <span>Python</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/c++.svg" alt="" />
      <span>C++</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/octocat.jpg" alt="" />
      <span>Github</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/javascript.svg" alt="" />
      <span>Javascript</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/mysql.svg" alt="" />
      <span>MySQL</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/nodejs.svg" alt="" />
      <span>NodeJS</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/reactjs.png" alt="" />
      <span>React Js</span>
    </div>
    <div class="skill" data-aos="zoom-in">
      <img src="./assets/mongodblogo.png" alt="" />
      <span>MongoDB</span>
    </div>
  </div>
</div>
