@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'General Sans';
    src: url('./fonts/GeneralSans-Regular.ttf');
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Hind';
    src: url('./fonts/Hind-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    color: black;
    background-color: rgb(90, 255, 44);
}