@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'General Sans';
    src: url('./fonts/GeneralSans-Regular.ttf');
}

@font-face {
    font-family: 'GeneralSans-Bold';
    src:
        url('./fonts/GeneralSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Hind';
    src: url('./fonts/Hind-Regular.ttf');
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    color: black;
    background-color: #5aff2c;
}